<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  body { text-align:center;font-family:helvetica,arial;font-size:22px;
    color:#888 ;margin:20px}
  #c {margin:0 auto;width:500px;text-align:left}
  a{ color : #000; text-decoration:none; }
  h4{ color : #000}
  </style>
</head>
<body>
  <h2>
    <a href="https://inthegra.strans.teresina.pi.gov.br/docs">Api Inthegra</a>
    for /GET
  </h2>
  <img src='http://www.sinatrarb.com/images/logo.png'>
  <div id="c">

    <h4><a href="/linhas.json">GET /linhas.json</a></h4>
    <p>
      Retorna todas as linhas cadastradas.
    </p>

    <h4><a href="/linhas.json?busca=ininga">GET /linhas.json?busca=ininga</a></h4>
    <p>
      Retorna todas as linhas que possuam o termo “ininga” na denominação, no ponto de origem ou ponto de retorno.
    </p>

    <h4><a href="/paradas.json">GET /paradas.json</a></h4>
    <p>
      Retorna todas as paradas cadastradas.
    </p>

    <h4><a href="/paradas.json?busca=ininga">GET /paradas.json?busca=ininga</a></h4>
    <p>Retorna todas as paradas que possuam o termo “ininga” na denominação ou no endereço.</p>

    <h4><a href="/paradasLinha.json?busca=0402">GET /paradasLinha.json?busca=0402</a></h4>
    <p>Retorna todas as paradas da linha indicada.</p>

    <h4><a href="/veiculos.json">GET /veiculos.json</a></h4>
    <p>Retorna a localização de todos veículos por linhas, na última atualização de dados.</p>

    <h4><a href="/veiculosLinha.json?busca=0618">GET /veiculosLinha.json?busca=0618</a></h4>
    <p>
      Retorna a localização dos veículos em uma dada linha, na última atualização de dados.
    </p>

    <h3>Metodos Adicionais</h3>

    <h4><a href="/paradasProximas.json?lat=-5.119073&long=-42.793782&dist=50">
      GET /paradasProximas.json?lat=-5.119073&long=-42.793782&dist=50</a></h4>
    <p>
      Retorna as paradas a um raio de distancia da localização passada. Por exemplo,
      a chamada acima retorna as paradas a um raio de 50 metros da localização de
      Latitude '-5.119073' e Longitude '-42.793782'.
    </p>

    <h4><a href="/linhasParada.json?codigoParada=355">
      GET /linhasParada.json?codigoParada=355</a></h4>
    <p>
      Retorna as as linhas que passam na parada especificada no parametro codigoParada.
    </p>
  </body>
  <br>
  <br>
  <p style="font-size: 18px; text-align:center">
    Feito por EqualsP com amor e com o <a href="http://www.sinatrarb.com/">Sinatra</a> 
  </p>
  <br>
</html>
